mat-toolbar{
  position: sticky;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 2;
}

table {
    width: 100%;
    overflow: auto;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}
.fill-space{
  flex: auto;
}

mat-paginator{
  position: sticky;
  bottom: 0;
  z-index: 1;
}

button{
  margin: 5px;
}

.green{
  background-color: #4CAF50;
  color: white;
}